# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/

# Env
.env
*.env

# Airflow
logs/
airflow.db
airflow.cfg
standalone_admin_password.txt

# Great Expectations
great_expectations/uncommitted/
great_expectations/.ge_store_backend_id

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Coverage
.coverage
htmlcov/
.pytest_cache/

# Docker
*.log
